<!DOCTYPE html>
<html lang="ko">
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>코로나19 백신 사전예약 시스템</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
  	<link href='https://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
  	<link href="button_styles.css" rel='stylesheet'>
    <!-- <link href="css/bootstrap.css" rel='stylesheet'> -->

  </head>

  <body id="page-top">
    <header class="masthead bg-primary text-black text-center">
      <div class="container">
        <h2 class=" mb-0">현 백신 현황 </h2>
      </div>
      <div class="container" id="location_gu"></div>
      <script type="text/javascript">
        google.charts.load('current', {'packages' : ['geochart', 'corechart', 'bar']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart(){
          var data = google.visualization.arrayToDataTable([
            ['', ''],
            <%
            for (var i = 0; i < rows.length; i++){
              var oneItem = rows[i];
            %>
            ["<%=oneItem.Location%>", parseInt("<%=oneItem.Cnt%>")],
            <%
            }
            %>
          ]);
          var options = {
            height :450,
            width :'100%',
            legend: {position: 'none'},
            hAxis: {textPosition: 'none'},
            isStacked: false,
            tooltip:{textStyle : {fontSize:10}, showColorCode : true},
            animation: { //차트가 뿌려질때 실행될 애니메이션 효과
              startup: true, duration: 1000, easing: 'linear' },
            annotations: { textStyle: {
                  fontSize: 14, bold: true, italic: true, color: '#871b47', auraColor: '#d799ae',
                  opacity: 0.7},
            }
          };
          //var chart = new google.visualization.BarChart(document.getElementById("location_gu"));
          var chart = new google.charts.Bar(document.getElementById("location_gu"));
          chart.draw(data, google.charts.Bar.convertOptions(options));

          // 반응형 그래프 출력
          window.addEventListener('resize', function() { chart.draw(data, google.charts.Bar.convertOptions(options)); }, false);
        };
      </script>
    </header>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">코로나19 백신 사전예약 시스템</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-fixed Black rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">로그인/회원가입</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      
      

    <!-- Header -->


    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
      <div class="container">
        <h2 class="text-center text-uppercase">로그인/회원가입</h2>

          <br>
          <div class="row">
            <div class="col three">
              <a href="/login/emailLogin" class="btn btn-sea">로그인</a>
            </div>
          </div>
          <br>
          <div class="row">
        		<div class="col three">
        			<a href="/register" class="btn btn-sunflower">회원가입</a>
        		</div>
          </div>
      </div>
      </section>




   

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small> 국민건강증진처</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>


  </body>

</html>
